%p#notice= notice
%h1.title Users
%table.table.is-striped.is-fullwidth
  %thead
    %tr
      %th Name
      %th Email
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.email
        %td
          .buttons.is-pulled-right
            = link_to user, class: 'button' do
              %span.icon
                %i.material-icons visibility
              %span Details
            = link_to edit_user_path(user), class: 'button' do
              %span.icon
                %i.material-icons edit
              %span Edit
            = link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' do
              %span.icon
                %i.material-icons delete
              %span Delete
%br/
= link_to new_user_path, class: 'button is-success' do
  %span.icon
    %i.material-icons add
  %span New user
