.form
  = form_for @form do |form|
    - if @form.errors.any?
      .notification.is-danger#error_explanation
        %button.delete
        .content
          %h4.subline
            = pluralize(@form.errors.count, "error")
            prohibited this location from being saved:
          %ul
            - @form.errors.full_messages.each do |message|
              %li= message
    .field
      = form.label :name
      .control= form.text_field :name, data: { target: 'location.name' }, class: 'input'
    .field
      = form.label :place_id
      .control= form.text_field :place_id, data: { target: 'location.placeId' }, class: 'input'
    .field
      = form.label :street
      .control= form.text_field :street, data: { target: 'location.street' }, class: 'input'
    .field
      = form.label :street_number
      .control= form.text_field :street_number, data: { target: 'location.streetNumber' }, class: 'input'
    .field
      = form.label :zip_code
      .control= form.text_field :zip_code, data: { target: 'location.zipCode' }, class: 'input'
    .field
      = form.label :city
      .control= form.text_field :city, data: { target: 'location.city' }, class: 'input'
    .field
      = form.label :phone_number
      .control= form.text_field :phone_number, data: { target: 'location.phoneNumber' }, class: 'input'
    .field
      = form.label :website
      .control= form.text_field :website, data: { target: 'location.website' }, class: 'input'
    .field
      = form.label :latitude
      .control= form.text_field :latitude, data: { target: 'location.latitude' }, class: 'input'
    .field
      = form.label :longitude
      .control= form.text_field :longitude, data: { target: 'location.longitude' }, class: 'input'

    .actions.buttons
      = link_to back_target, class: 'button' do
        %span.icon
          %i.material-icons  chevron_left
        %span Back
      = button_tag class: 'button is-primary' do
        %span.icon
          %i.material-icons save
        %span= @form.model.new_record? ? 'Create Location' : 'Update Location'
