.columns
  .column.is-half.content
    %h1.title= @location.name
    %dl
      %dt Address
      %dd
        = @location.street
        = @location.street_number
        %br
        = @location.zip_code
        = @location.city

    - if @location.phone_number?
      %dl
        %dt Phone
        %dd= @location.phone_number

    - if @location.website?
      %dl
        %dt Website
        %dd= link_to @location.website, @location.website, target: :_blank

    - if @location.rateable_attributes.any?
      %dl
        %dt Attributes
        - @location.rateable_attributes.each do |attribute|
          %dd= attribute.title

  .column.is-half
    %iframe{ allowfullscreen: '', frameborder: '0', height: '450', src: "https://www.google.com/maps/embed/v1/place?q=place_id:#{@location.place_id}&key=#{Rails.application.credentials.google[:api_key]}", style: 'border:0', width: '100%' }

.columns
  .buttons
    = link_to locations_path, class: 'button' do
      %span.icon
        %i.material-icons  chevron_left
      %span Back

    = link_to edit_location_path(@location), class: 'button is-info' do
      %span.icon
        %i.material-icons edit
      %span Edit
